body {
    height: 300px;
}
.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
}
table  { border-collapse: collapse; }
td, th { border: 1px solid black; padding: 3px 8px; }
th     { text-align: left; }